//Create a .env file and set any non-optional env vars or change default settings

// Port to listen on, default 80
PORT=80

// Host name, defaults to binding to docker container
HOST='0.0.0.0'

// the node environment, defaults to development
NODE_ENV=development